{% extends "base_dashboard.html" %}
{% load static %}

{% block content %}
<div class="wrapper">
    <div class="sidebar" data-color="blue">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Blue Stream
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="dashboard">
                        <p>Project: {{ name }}</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <!-- Navigation -->

        <nav class="navbar navbar-inverse navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">

                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">


                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               Account
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">


                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Projects List</h4>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            <tr>

                                                <td><a href="sectionlist">Catheter</a></td>
                                                <td class="td-actions text-right">

                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td><a href="sectionlist">Syringe</a></td>
                                                <td class="td-actions text-right">

                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td><a href="#">Surgical suture</a></td>
                                                <td class="td-actions text-right">

                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td><a href="#">Infusion pump</a></td>
                                                <td class="td-actions text-right">

                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td><a href="#">Thermometer</a></td>
                                                <td class="td-actions text-right">

                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td><a href="#">Artificial cardiac pacemaker</a></td>
                                                <td class="td-actions text-right">

                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 Blue Stream</a>
                </p>
            </div>
        </footer>

    </div>
</div>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
{% endblock content %}
