{% extends "base_dashboard.html" %}
{% load static %}

{% block content %}
    <div class="wrapper">
<div class="main-panel">

    <nav class="navbar navbar-inverse navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
            </div>
    </nav>

    <div class="content">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Projects List</h4>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                                {% for project in projects %}
                                                    <tr>
                                                    <td><a href="project/{{project.name}}?id={{project.id}}">{{ project.name }} </a></td>
                                                    {% if role %}
                                                    <td>
                                                        <a class="btn btn-default btn-lg" href="project/delete/{{project.name}}/?id={{project.id}}">Delete</a></td>  
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% if role %}
                    <a class="btn btn-default btn-lg" href="newproject">Create New Project &raquo;</a>  
                    {% endif %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                    </div>
                </div>
        </div>
    </div>

    <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 Blue Stream</a>
                </p>
            </div>
        </footer>
</div>
    </div>
<!-- you need to include the shieldui css and js assets in order for the charts to work -->
{% endblock content %}
