{% extends "base.html" %}
{% load static %}

{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="{% static "css/business-frontpage.css" %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    {% block hero %}
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <!-- HERO SECTION -->
    <section class="hero">
      <div class="wrap" data-color="blue">
        <h1>Welcome to Blue Stream</h1>
        <p>
        The TurboTax for Medical Device FDA Submissions!
        </p>
        <a href="loginpage" class="btn btn-danger">Login</a>
        <a href="signup" class="btn btn-success">Register an account</a>
      </div>
      
    </section>
    {% endblock hero %}

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>Who are we?</h2>
                <p>Blue Stream provides software platform to reduce the time and cost to navigate regulatory pathway for launching Medical Devices.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="dashboard">Dashboard &raquo;</a>

                </p>
                
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Blue Stream</strong>
                    <br>1100 Westwood Plaza
                    <br>Los Angeles, CA 90095
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">soumya.mahapatra.2017@anderson.ucla.edu</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- /.row -->

        <hr>

    {% block footer %}
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Blue Stream 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    {% endblock footer %}

    </div>
    <!-- /.container -->

{% endblock content %}
