{% extends "base_dashboard.html" %}
{% load static %}

{% block title %}Project Name 510(k){% endblock title %}

{% block content %}
<div class="wrapper">
    <div class="sidebar" data-color="blue">


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Blue Stream
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href=" ">
                        <p>Projects</p>
                    </a>

                        <ul>
                            <a href="sectionlist">
		                    <p>Syringe</p>
                            </a>
                            <ul>
                                <a href="#">
		                        <p>RTA Checklist</p>
                                </a>
                            </ul>
		                </ul>
                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <!-- Navigation -->

        <nav class="navbar navbar-inverse navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">

                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">


                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               Account
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row ">
                        <div class="card">
                                 <div class="content">

        <hr>


    <!-- 510(k) Overview -->
    <div class="form-overview">
		<h2>510(k) Form</h2>
    </div>


	<!--Section 3-->
	<div class="RTA-tables form-section">
		<h4>Section 3</h4>
		<h5>Cover Letter</h5>
		<!--RTA tables-->
		<h5>RTA checklist</h5>
		<h6><b>Preliminary Questions</b></h6>
		<table id="t01" border="1" width="900">
			<tr>
				<td colspan="5">
					Answers in the shaded blocks indicate consultation with a Center advisor is needed. (Boxes checked in this section represent FDAs preliminary 
					assessment of these questions at the time of administrative review.)
				</td>
			</tr>

			<tr>
				<th></th>
				<th>Yes</th>
				<th>No</th>
				<th>N/A</th>
			</tr>
			{% for i, j in QT1|slice:":2" %}
				<tr>
					<td><b>{{i}}</b><br><br>{{j}}</td>
					<td><input type="checkbox" name="myTextEditBox" value="checked"></td>
					<td bgcolor="#A9A9A9"> <input type="checkbox" name="myTextEditBox" value="checked"></td>
					<td> <input type="text" name="fname"></td>
				</tr>
			{% endfor %}
				
			<tr>
				<td><b>{{QT1.2.0}}</b><br><br>{{QT1.2.1}}</td>
				<td><input type="checkbox" name="myTextEditBox" value="checked"></td>
				<td bgcolor="#A9A9A9"> <input type="checkbox" name="myTextEditBox" value="checked"></td>
				<td><input type="checkbox" name="myTextEditBox" value="checked"></td>
			</tr>

			<tr>
				<td><b>{{QT1.3.0}}</b><br><br>{{QT1.3.1}}</td>
				<td><input type="checkbox" name="myTextEditBox" value="checked"></td>
				<td bgcolor="#A9A9A9"> <input type="checkbox" name="myTextEditBox" value="checked"></td>
				<td> <input type="text" name="fname"></td>
			</tr>
			
			<tr>
				<td><b>{{QT1.4.0}}</b><br><br>{{QT1.4.1}}</td>
				<td bgcolor="#A9A9A9"> <input type="checkbox" name="myTextEditBox" value="checked"></td>
				<td><input type="checkbox" name="myTextEditBox" value="checked"></td>
				<td> <input type="text" name="fname"></td>
			</tr>

			<tr>
				<td><b>{{QT1.5.0}}</b><br><br>{{QT1.5.1}}</td>
				<td bgcolor="#A9A9A9"> <input type="checkbox" name="myTextEditBox" value="checked"></td>
				<td><input type="checkbox" name="myTextEditBox" value="checked"></td>
				<td> <input type="text" name="fname"></td>
			</tr>

		</table>

		<br>
		<h6><b>Organizational Elements</b></h6>
		<table id="t02" border="1" width="900">
			<tr>
				<td colspan="5">
					Failure to include these items should not result in an RTA designation.
				</td>
			</tr>
			<tr>
				<th>
					*Submitters including the checklist with their submission should identify the page numbers where requested information is located. Use the comments
					section for an element if additional space is needed to identify the location of supporting information.
				</th>
				<th>Yes</th>
				<th>No</th>
				<th>*page#</th>
			</tr>
			
			{% for i in QT2%}
				<tr>
					<td>{{i}}</td>
					<td><input type="checkbox" name="myTextEditBox" value="checked"></td>
					<td><input type="checkbox" name="myTextEditBox" value="checked"></td>
					<td> <input type="text" name="fname"></td>
				</tr>
			{% endfor %}
		</table>
		

		<br>
		<h6><b>Elements of a Complete Submission (RTA Items) (21 CFR 807.87 unless otherwise indicated)</b></h6>
		<table id="t03" border="1" width="900">
			<tr>
				<td colspan="7">
				Any "No" answer will result in a "Refuse to Accept" decision; however, FDA staff has discretion to
				determine whether missing items are needed to ensure that the submission is administratively
				complete to allow the submission to be accepted or to request missing checklist items interactively
				from submitters during the RTA review. <br><br>
				Each element on the checklist should be addressed within the submission. The submitter may
				provide a rationale for omission for any criteria that are deemed not applicable. If a rationale is
				provided, the criterion is considered present (Yes). An assessment of the rationale will be considered
				during the review of the submission.
				</td>
			</tr>
			<tr>
				<th colspan="3">
				<b>Check "Yes" if item is present, "N/A" if it is not needed and "No" if it is
				not included but needed. <br><br>
				*Submitters including the checklist with their submission should
				identify the page numbers where requested information is located. Use
				the comments section for an element if additional space is needed to
				identify the location of supporting information.</b>
				</th>
				<th>Yes</th>
				<th>No</th>
				<th>N/A</th>
				<th>*page#</th>
			</tr>
		</table>
	</div>
	
	<hr>
	<!--RTA tables-->
	<h5>RTA checklist</h5>
	<h6><b>Preliminary Questions</b></h6>
	
	
	<br>

        <hr>
                                     <button class="button">
                                        Submit
                                     </button>
                                 </div>
                        </div>

                </div>

            </div>

			<!--
				<tr>
					<td></td>
					<td></td>
					<td>
					b. Device class and panel or Classification regulation or Statement that device
					has not been classified with rationale for that conclusion
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td></td>
					<td></td>
				</tr>
			-->
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 Blue Stream</a>
                </p>
            </div>
        </footer>

    </div>
</div>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
{% endblock content %}
