<!DOCTYPE html>
{% load static %}
<html lang="en">

{% block heading %}
<head>

	<!-- Metadata -->
	{% block metadata %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	{% endblock %}

	{% block title %}
	<!-- Title -->
    <title>Business Frontpage - Start Bootstrap Template</title>
	{% endblock %}


	<!-- Including CSS -->
	{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/business-frontpage.css" %}" rel="stylesheet">

	<!-- Our CSS -->
	<link href="{% static "css/Bluestream.css" %}" rel="stylesheet">
	{% endblock %}


	{% block html5 %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% endblock %}

</head>
{% endblock %}

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container wrap">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button button-primary" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Blue Stream</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Left form section bookmarks list (like adobe) -->
	<nav class="sections-list">
		<h3>Sections</h3>

		<ul>
		<li>MDUFA</li>
		<li>
			<p>Section 3</p>
			<ul>
			<li>Cover Letter</li>
			<li>RTA Checklist</li>
			</ul>
		</li>
		</ul>

	</nav>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <!-- 510(k) Overview -->
	    <div class="form-overview">
			<h2>510(k) Form</h2>
	

		<!--Section 3-->
		<div class="RTA-tables form-section">
			<h4>Section 3</h4>
			<h5>Cover Letter</h5>
			<!--RTA tables-->
			<h5>RTA checklist</h5>
			<h6><b>Preliminary Questions</b></h6>
			<table id="t01" border="1" width="900">
				<tr>
					<td colspan="5">
						Answers in the shaded blocks indicate consultation with a Center advisor is needed.
						(Boxes checked in this section represent FDAs preliminary assessment
						of these questions at the time of administrative review.)
					</td>
				</tr>

				<tr>
					<th></th>
					<th>Yes</th>
					<th>No</th>
					<th>N/A</th>
				</tr>
				<tr>
					<td>
						<b>1. Is the product a device (per section 201(h) of the FD&C Act) or a combination product (per 21 CFR 3.2(e))
						with a device constituent part subject to review in a 510(k)? </b></br></br>
						If it appears not to be a device (per section 201(h) of the FD&C Act) or such a
						combination product, or you are unsure, consult with the CDRH Jurisdictional Officer
						or the CBER Product Jurisdiction Liaison to determine the appropriate action, and
						inform division management. Provide a summary of the Jurisdictional
						Officer's/Liaison's determination. If the product does not appear to be a device or
						such a combination product, mark "No."
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td bgcolor="#A9A9A9">
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td> <input type="text" name="fname"></td>
				</tr>

				<tr>
					<td>
						<b>2. Is the submission with the appropriate Center?</b><br><br>
						If the product is a device or a combination product with a device constituent part, is it
						subject to review by the Center in which the submission was received? If you
						believe the submission is not with the appropriate Center or you are unsure, consult
						with the CDRH Jurisdictional Officer or the CBER Product Jurisdiction Liaison to
						determine the appropriate action and inform your division management. Provide a
						summary of the Jurisdictional Officer's/Liaison's determination. If submission
						should not be reviewed by your Center mark "No."
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td bgcolor="#A9A9A9">
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td> <input type="text" name="fname"></td>
				</tr>

				<tr>
					<td>
						<b>3. If a Request for Designation (RFD) was submitted for the device or
						combination product with a device constituent part and assigned to your
						center, identify the RFD # and confirm the following:<br>
						a) Is the device or combination product the same (e.g., design,
						formulation) as that presented in the RFD submission?<br>
						b) Are the indications for use for the device or combination product
						identified in the 510(k) the same as those identified in the RFD
						submission?</b><br><br>

						If you believe the product or the indications presented in the 510(k) have changed
						from the RFD, or you are unsure, consult with the CDRH Jurisdictional Officer or
						the CBER Product Jurisdiction Liaison to determine the appropriate action and
						inform your division management. <i>Provide summary of Jurisdictional
						Officer’s/Liaison’s determination.</i><br>

						If the answer to either question above is no, mark "No." If there was no RFD, mark
						"N/A."
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td bgcolor="#A9A9A9">
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
				</tr>

				<tr>
					<td>
						<b>4. Is this device type eligible for a 510(k) submission?</b><br><br>
						If a 510(k) does not appear to be appropriate (e.g., Class III type and PMA required,
						or Class I or II type and 510(k)-exempt), you should consult with the CDRH 510(k)
						Program Director or appropriate CBER staff during the acceptance review. If 510(k)
						is not the appropriate regulatory submission, mark "No."
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td bgcolor="#A9A9A9">
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td> <input type="text" name="fname"></td>
				</tr>

				<tr>
					<td>
					<b>5. Is there a pending PMA for the same device with the same indications for use? </b><br><br>
					If yes, consult division management and the CDRH 510(k) Program Director or
					appropriate CBER staff to determine the appropriate action.
					</td>
					<td bgcolor="#A9A9A9">
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td >
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td> <input type="text" name="fname"></td>
				</tr>

				<tr>
					<td>
						<b>6. If clinical studies have been submitted, is the submitter the subject of an
						Application Integrity Policy (AIP)?</b><br><br>
						If yes, consult with the CDRH Office of Compliance/Division of Bioresearch
						Monitoring (OC/DBM) or CBER Office of Compliance and Biologics
						Quality/Division of Inspections and Surveillance/Bioresearch Monitoring Branch
						(OCBQ/DIS/BMB) to determine the appropriate action. Check on web at
						<a href="http://www.fda.gov/ICECI/EnforcementActions/ApplicationIntegrityPolicy/ucm134453.htm" target="_blank">
						http://www.fda.gov/ICECI/EnforcementActions/ApplicationIntegrityPolicy/ucm134453.htm</a><br>
						If no clinical studies have been submitted, mark "N/A".
					</td>
					<td bgcolor="#A9A9A9">
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
				</tr>
			</table>

			<br>
			<h6><b>Organizational Elements</b></h6>
			<table id="t02" border="1" width="900">
				<tr>
					<td colspan="5">
						Failure to include these items should not result in an RTA designation.
					</td>
				</tr>
				<tr>
					<th>
						*Submitters including the checklist with their submission should identify the
						page numbers where requested information is located. Use the comments
						section for an element if additional space is needed to identify the location of
						supporting information.
					</th>
					<th>Yes</th>
					<th>No</th>
					<th>*page#</th>
				</tr>
				<tr>
					<td>
						1. Submission contains a Table of Contents
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td> <input type="text" name="fname"></td>
				</tr>

				<tr>
					<td>
						2. Each section is labeled (e.g., headings or tabs designating Device Description section, Labeling section, etc.).
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td> <input type="text" name="fname"></td>
				</tr>

				<tr>
					<td>
						3.All pages of the submission are numbered.<br><br>
						<i>All pages should be numbered in such a manner that information can be
						referenced by page number. This may be done either by consecutively
						numbering the entire submission, or numbering the pages within a section
						(e.g., 12-1, 12-2…).</i>
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td> <input type="text" name="fname"></td>
				</tr>

				<tr>
					<td>
						4.Type of 510(k) is identified (i.e., Traditional, Abbreviated, or Special)<br><br>
						<i>If type of 510(k) is not designated, review as a Traditional 510(k).</i>
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td> <input type="text" name="fname"></td>
				</tr>

			</table>

			<br>
			<h6><b>Elements of a Complete Submission (RTA Items) (21 CFR 807.87 unless otherwise indicated)</b></h6>
			<table id="t03" border="1" width="900">
				<tr>
					<td colspan="7">
					Any "No" answer will result in a "Refuse to Accept" decision; however, FDA staff has discretion to
					determine whether missing items are needed to ensure that the submission is administratively
					complete to allow the submission to be accepted or to request missing checklist items interactively
					from submitters during the RTA review. <br><br>
					Each element on the checklist should be addressed within the submission. The submitter may
					provide a rationale for omission for any criteria that are deemed not applicable. If a rationale is
					provided, the criterion is considered present (Yes). An assessment of the rationale will be considered
					during the review of the submission.
					</td>
				</tr>
				<tr>
					<th colspan="3">
					<b>Check "Yes" if item is present, "N/A" if it is not needed and "No" if it is
					not included but needed. <br><br>
					*Submitters including the checklist with their submission should
					identify the page numbers where requested information is located. Use
					the comments section for an element if additional space is needed to
					identify the location of supporting information.</b>
					</th>
					<th>Yes</th>
					<th>No</th>
					<th>N/A</th>
					<th>*page#</th>
				</tr>

				<tr>
					<td>A</td>
					<td colspan="2">Administrative</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td>1</td>
					<td>
						All content used to support the submission is written in English
						(including translations of test reports, literature articles, etc.).
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td>2</td>
					<td>
						Submission identifies the following (FDA recommends use of the CDRH Premarket Review Submission Cover Sheet form
						<a href="https://www.fda.gov/downloads/AboutFDA/ReportsManualsForms/Forms/UCM080872.pdf" target="_blank">[Form 3514]</a>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td>a. Device trade/proprietary name</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td>
					b. Device class and panel or Classification regulation or Statement that device 
					has not been classified with rationale for that conclusion
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td>3</td>
					<td>
						Submission contains an Indication for Use Statement with Rx
						and/or OTC designated (see also 21 CFR 801.109, and FDA's guidance
						<a href="https://www.fda.gov/RegulatoryInformation/Guidances/ucm072747.htm" target="_blank">Alternative to Certain Prescription Devices Labeling Requirements</a>")<br>
						<i>See recommended <a href="https://www.fda.gov/downloads/AboutFDA/ReportsManualsForms/Forms/UCM360431.pdf" target="_blank">format</a></i>
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td>
						<input type="checkbox" name="myTextEditBox" value="checked" />
					</td>
					<td></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td colspan="6"><b><i>Sections A.3 - A.12 to be added</i></b></td>
				</tr>
				<tr>
					<td colspan="7"><b><i>Sections B - K to be added</i></b></td>
				</tr>
			</table>
		</div>

        <hr>

    	</div>
        <!-- Footer -->
        <footer>
            <div class="form-footer">
                <p>Copyright &copy; Blue Stream 2017</p>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
	<script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

</html>

