{% extends "base_dashboard.html" %}
{% load static %}

{% block content %}
<div class="wrapper">
    <div class="sidebar" data-color="blue">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href=".." class="simple-text">
                    Blue Stream
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/dashboard">
                        <p>Projects</p>
                    </a>

                        <ul>
                            <a href="#">
		                    <p>{{  name }}</p>
                            </a>
		                </ul>

                </li>
            </ul>

    	</div>
    </div>

    <div class="main-panel">
        <!-- Navigation -->

        <nav class="navbar navbar-inverse navbar-fixed">
            <div class="container-fluid">

            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">


                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">{{ name }}</h4>
                            </div>
                            <div class="content">
                                <div class="table-full-width list-group">
                                    <table class="table">
                                        <tbody>
                                            <div class="thumbnail">
                                                <img src="http://imgorigin.allegromedical.com/9C/D6/syringe-luer-lok-3cc-23g-x-1-547237-MEDIUM_0.jpg" alt="...">
                                                <div class="caption">
                                                    <h4>Description</h4>
                                                    <p>A medical device that is used to inject fluid into, or withdraw fluid from, the body. A medical syringe consists of a needle attached to a hollow cylinder that is fitted with a sliding plunger. The downward movement of the plunger injects fluid; upward movement withdraws fluid. Medical syringes were once made of metal or glass, and required cleaning and sterilization before they could be used again. Now most syringes used in medicine are plastic and disposable.</p>
                                                </div>
                                            </div>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Section List</h4>
                            </div>
                            <div class="content">
                                <div class="table-full-width list-group">
                                    <table class="table">
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Complete MDUFA cover sheet</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">510K cover letter</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">CDRH Premarket Review Submission Cover Sheet</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="section3/">RTA checklist (in Section 3 after cover letter)</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="section4/">Section 4: Indications for Use Statement</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="section5/">Section 5: 510K Summary/510K Statement</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="section6/">Section 6:Truthful and Accuracy Statement</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="section7/">Section 7: Class III Summary and Certification</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="section8/">Section 8: Financial Certification or Disclosure Statement</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 9: Declarations of Conformity and Summary Reports</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 10: Executive Summary</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 11: Device Description</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 12: Substantial Equivalence Discussion</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 13: Proposed Labeling</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 14: Sterilization and Shelf Life</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 14.2: Shelf life on packaging</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 15: Biocompatibility</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 16: Software</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 17: Electromagnetic Compatibility and Electrical Safety</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 18: Performance Testing - Bench</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 19: Performance Testing – Animal</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 20: Performance Testing – Clinical</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td><a href="#">Section 21: Standards</a></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 Blue Stream</a>
                </p>
            </div>
        </footer>

    </div>
</div>
<!-- you need to include the shieldui css and js assets in order for the charts to work -->
{% endblock content %}
